# Ignore ALL files in ANY directory named build
eigen/
Eigen/
build/
unstructured_dft/
.cache/
.vscode/*
!.vscode/
!.vscode/settings.json
tasks.json
Makefile
output/
CMakeFiles/
CMakeCache.txt
*.cmake
*.tcl
*.msh
input/
data/input/box.msh
